body {
    margin: auto;
    padding: 0;
}

.add-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 0.5px solid #000;
    border-style: dotted;
    border-radius: 10px;
    background: #000;
}

.deco img {
    height: fit-content;
    width: fit-content;
}

#foodField {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background: #f35004b7;
    box-shadow: 5px 10px 15px #07070770;
    text-align: center;
    padding: 40px;
}

.add-recipe button {
    margin: auto;
    margin-top: 5px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    align-items: center;
    justify-content: center;
}