body {
    margin: auto;
    padding: 0;
}

.food-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.5px solid #000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
