body {
    margin: auto;
    padding: 0;
}

button {
    padding: 7px;    
    width: fit-content;
    color: #fff;
    border: none;
    background: #f17704e1;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    color: #fcfbfb;
    font-weight: 700;
}

@media screen and (max-width: 760px) {
    button {
        height: fit-content;
        width: min(100% 25px);
        color: #fcfbfb;
        border: none;
        background: #11111196;
        border-radius: 10px;
        font-size: medium;
        align-items: center;
        justify-content: center;
    }
}