body {
    margin: auto;
    padding: 0;
}

button {
    padding: 7px;    
    width: fit-content;
    color: #000;
    border: none;
    background: #f1770480;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    button {
        height: fit-content;
        width: min(100% 25px);
        color: #fcfbfb;
        border: none;
        background: #11111196;
        border-radius: 10px;
        font-size: medium;
        align-items: center;
        justify-content: center;
    }
}