body {
    margin: auto;
    padding: 0;
}

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.landingPage img {
    height: 16vh;
    width: 20vw;
}