body {
  margin: auto;
  padding: 0;
}
.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f0f0f;
  border: 1px solid #000;
  padding: 1px;
  gap: 30rem;
  width: min(100%);
}

.navbar h1 {
  font-style: italic;
  font-stretch: expanded;
  font-family: cursive;
  font-size: 34px;
  color: #f17704e3;
  font-weight: 700;
  padding: 10px;
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 3px;
  margin: 5px 0;
  border-radius: 30px;
  height: 7vh;
}

.navbar-search input {
  background: transparent;
  border: none;
  padding: 5px;
  height: fit-content;
  outline: none;
  width: min(500px);
}

.navbar-search button {
  width: fit-content;
  font-size: larger;
  border: none;
  border-radius: 0px;
  color:#f17704e3;
  background: none;
  font-size: 35px;
}

@media screen and (max-width: 760px) {
  body {
    margin: auto;
    padding: 0;
  }

  .navbar {
    display: none;
  }
}
