body {
    margin: auto;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #8080807c;
    border: 1px solid #000;
    padding: 3px;
    gap: 40rem;
}

.navbar h1 {
    font-style: italic;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    padding: 3px;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
}