body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 10px;
}

.logo button {
  background: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%);
  background: #0f0f0fd3;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar h1 {
  font-style: italic;
  font-stretch: expanded;
  font-family: cursive;
  font-size: 30px;
  color: #f17704f8;
  font-weight: 700;
  padding: 5px;
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: min(3px);
  margin: 5px 0;
  border-radius: 30px;
  height: min(7vh);
  width: min(30%);
  padding: min(10px);
}

.navbar-search input {
  background: transparent;
  border: none;
  padding: 5px;
  height: fit-content;
  outline: none;
  width: min(100%);
}

.navbar-search button {
  width: fit-content;
  font-size: larger;
  border: none;
  border-radius: 0px;
  color: #f17704e3;
  background: none;
  font-size: 35px;
  padding: min(5px);
}

@media screen and (max-width: 760px) {
  body {
    margin: auto;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .navbar-search {
    width: min(100%);
  }
}
